venv/
venv*/
backend/venv*/
backend/venv312/
**/__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
.venv/
.git
.pytest_cache/
dist/
build/
*.egg-info
/.vscode
venv312/
venv312/**
backend/venv312/**
frontend/dist/
frontend/.vite/
frontend/node_modules/
backend/node_modules/
*.log
docker-compose.override.yml
